/* Styles for mobile devices */
@media (max-width: 576px) {
  .ml-56 {
    margin-left: 0 !important;
  }

  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .rounded-t {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .h-96 {
    height: 16rem;
  }

  .-mt-36 {
    margin-top: -9rem;
  }

  .h-44 {
    height: 8rem;
  }

  .w-44 {
    width: 8rem;
  }

  .text-8xl {
    font-size: 4.5rem;
  }

  .text-5xl {
    font-size: 2.75rem;
  }

  .mt-10 {
    margin-top: 2rem;
  }

  .text-2xl {
    font-size: 1.25rem;
  }
}

/* Styles for tablet devices */
@media (min-width: 577px) and (max-width: 768px) {
  .ml-56 {
    margin-left: 2rem !important;
  }

  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .h-96 {
    height: 20rem;
  }

  .-mt-36 {
    margin-top: -13rem;
  }

  .h-44 {
    height: 10rem;
  }

  .w-44 {
    width: 10rem;
  }

  .text-8xl {
    font-size: 5rem;
  }

  .text-5xl {
    font-size: 3.25rem;
  }

  .mt-10 {
    margin-top: 2.5rem;
  }

  .text-2xl {
    font-size: 1.375rem;
  }
}

/* Styles for desktop devices */
@media (min-width: 769px) {
  .ml-56 {
    margin-left: 3rem !important;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .h-96 {
    height: 24rem;
  }

  .-mt-36 {
    margin-top: -16rem;
  }

  .h-44 {
    height: 11rem;
  }

  .w-44 {
    width: 11rem;
  }

  .text-8xl {
    font-size: 6rem;
  }

  .text-5xl {
    font-size: 3.75rem;
  }

  .mt-10 {
    margin-top: 3rem;
  }

  .text-2xl {
    font-size: 1.5rem;
  }
}
